<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-actions>
    <div class="selecao-idade">
      <ul>
        <li>Adultos</li>
        <li>(Acima de 12 anos)</li>
        <li>
          <button mat-mini-fab-button class="decremento">
            <app-incremento-decremento src="../../../assets/icones/do_not_disturb_on.png"
              alt="operador de subtração"></app-incremento-decremento>
          </button>
          <span>0</span>
          <button mat-mini-fab-button class="incremento">
            <app-incremento-decremento src="../../../assets/icones/add_circle.png"
              alt="operador de adição"></app-incremento-decremento>
          </button>
        </li>
      </ul>

      <ul>
        <li>Crianças</li>
        <li>(2 a 12 anos)</li>
        <li>
          <button mat-mini-fab-button class="decremento">
            <app-incremento-decremento src="../../../assets/icones/do_not_disturb_on.png"
              alt="operador de subtração"></app-incremento-decremento>
          </button>
          <span>0</span>
          <button mat-mini-fab-button class="incremento">
            <app-incremento-decremento src="../../../assets/icones/add_circle.png"
              alt="operador de adição"></app-incremento-decremento>
          </button>
        </li>
      </ul>

      <ul>
        <li>Bebês</li>
        <li>(Abaixo de 2 anos)</li>
        <li>
          <button mat-mini-fab-button class="decremento">
            <app-incremento-decremento src="../../../assets/icones/do_not_disturb_on.png"
              alt="operador de subtração"></app-incremento-decremento>
          </button>
          <span>0</span>
          <button mat-mini-fab-button class="incremento">
            <app-incremento-decremento src="../../../assets/icones/add_circle.png"
              alt="operador de adição"></app-incremento-decremento>
          </button>
        </li>
      </ul>
    </div>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</section>
