<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-actions>
    <div class="selecao-idade">
      <ul>
        <div class="categoria">Adultos</div>
        <li>(Acima de 12 anos)</li>
        <li>
          <button mat-mini-fab-button class="decremento">
            <app-incremento-decremento src="../../../assets/icones/do_not_disturb_on.png"
              alt="operador de subtração"></app-incremento-decremento>
          </button>
          <span>0</span>
          <button mat-mini-fab-button class="incremento">
            <app-incremento-decremento src="../../../assets/icones/add_circle.png"
              alt="operador de adição"></app-incremento-decremento>
          </button>
        </li>
      </ul>

      <ul>
        <div class="categoria">Crianças</div>
        <li>(2 a 12 anos)</li>
        <li>
          <button mat-mini-fab-button class="decremento">
            <app-incremento-decremento src="../../../assets/icones/do_not_disturb_on.png"
              alt="operador de subtração"></app-incremento-decremento>
          </button>
          <span>0</span>
          <button mat-mini-fab-button class="incremento">
            <app-incremento-decremento src="../../../assets/icones/add_circle.png"
              alt="operador de adição"></app-incremento-decremento>
          </button>
        </li>
      </ul>

      <ul>
        <div class="categoria">Bebês</div>
        <li>(Abaixo de 2 anos)</li>
        <li>
          <button mat-mini-fab-button class="decremento">
            <app-incremento-decremento src="../../../assets/icones/do_not_disturb_on.png"
              alt="operador de subtração"></app-incremento-decremento>
          </button>
          <span>0</span>
          <button mat-mini-fab-button class="incremento">
            <app-incremento-decremento src="../../../assets/icones/add_circle.png"
              alt="operador de adição"></app-incremento-decremento>
          </button>
        </li>
      </ul>
    </div>

    <div class="classe">
      <ul>
        <div class="categoria">Classe</div>
        <mat-chip-listbox aria-label="Seleção de passagens">
          <mat-chip-option selected>Econômica</mat-chip-option>
          <mat-chip-option>Executiva</mat-chip-option>
        </mat-chip-listbox>
      </ul>
    </div>

    <div class="botoes">
      <button mat-flat-button color="accent">
         Cancelar
       </button>
        <button mat-flat-button color="primary">
         Aplicar
       </button>
    </div>
  </div>
</section>
