.incremento-decremento{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
  }
}
