<footer class="footer">
  <mat-toolbar>
    <div class="logo-container">
      <img src="../../../assets/imagens/logo-com-tagline.png" alt="logo Jornada Milhas">
      <div class="spacer"></div>
      <p class="footer-text">
        Horário de atendimento: 08h - 20h (Segunda a Sábado) <br>
        Desenvolvido por Alura. Projeto fictício sem fins comerciais.
      </p>
    </div>
    <div class="redes-container">
      <div class="spacer"></div>
      <p class="footer-text">
        Acesse nossas redes:
      </p>
      <img src="../../../assets/imagens/Whatsapp.png" alt="logo Whatsapp">
      <img src="../../../assets/imagens/Instragam.png" alt="logo Instragam">
      <img src="../../../assets/imagens/Twiter.png" alt="logo twitter">
    </div>
  </mat-toolbar>
</footer>"
